.container{ margin-left: 35%}
button {
 border-radius: 999px;
 padding: 1em 2em;
 background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
 border: none;
 color: rgb(255, 255, 255);
 font-size: 1rem;
 text-transform: uppercase;
 font-family: inherit;
 font-weight: 500;
 cursor: pointer;
 transition: box-shadow 0.25s ease 0s;
 letter-spacing: 0.08rem;margin-top: 30px;margin-left: 100px;
}

button:hover,
button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

.card {
  width: 100%;
  max-width: 390px;
  height: 90px;
  background:linear-gradient(#fafafa,#ebebeb);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
margin-top: 20px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color:  #353535;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {margin-top: -10px;  margin-left: 10px;
  font-size: 14px;
  color:  #353535;text-decoration: none !important;
  
}

Link{ text-decoration: none !important;}