main{margin-left:35%;
}
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;

  margin-top: 100px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}
button {
 border-radius: 999px;
 padding: 1em 2em;
 background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
 border: none;
 color: rgb(255, 255, 255);
 font-size: 1rem;
 text-transform: uppercase;
 font-family: inherit;
 font-weight: 500;
 cursor: pointer;
 transition: box-shadow 0.25s ease 0s;
 letter-spacing: 0.08rem;margin-top: 20px;
}

button:hover,
button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}
img{border-radius: 50%;
border: 1px solid black;background-color: khaki;margin-right: 15px; margin-top: 10px;}
.comment{
border-block-end: solid; writing-mode: horizontal-tb; max-width: 400px;
}
.commentform{margin-top: 30px; max-width: 400px;}
.textarea{
  width: 400px;
}